doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Task List of 2024
        link(rel="stylesheet", href="style.css")
    body
        header
            h1 Task List 2024
            form#new-task-form
                input(type="text" id="new-task-input" placeholder="What do you have planned?")
                input(type="submit" id="new-task-submit" placeholder="Add task")
        main 
            section.task-lsit
                h2 Tasks
                #tasks
                    .task
                        .content
                            input(type="text" class="text" value="My shiny task" readonly)
                        .actions
                            button.edit.
                                Edit
                            button.delete.
                                Delete
        script(src="main.js")

