/* HTML: <div class="loader"></div> */
.loader_contaienr{
  /* border:2px solid red ; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
    /* border: 2px solid red;
    height: 200px;
    width: 200px; */
    color: black;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height:1.2em;
    overflow: hidden;
    display: none;
  }

  /* .loader_contaienr {
    border: 2px solid black;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    overflow: hidden;
}

  .loader_contaienr {
    scrollbar-width: none;
    } */

  .loader:before {
    content:"Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
    white-space: pre;
    display: inline-block;
    animation: l39 1s 3 steps(11) alternate;
    /* opacity: 0; */
  }
  
  @keyframes l39 {
    100%{
      transform: translateY(-100%);
    }
  }

  #loader3{
    display: none;
  }